[submodule "pack/start/vim-surround"]
	path = pack/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "pack/ug02fast/start/vim-vue"]
	path = pack/ug02fast/start/vim-vue
	url = https://github.com/posva/vim-vue
[submodule "pack/ug02fast/start/vim-surround"]
	path = pack/ug02fast/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "pack/ug02fast/start/ale"]
	path = pack/ug02fast/start/ale
	url = https://github.com/w0rp/ale
[submodule "pack/ug02fast/start/gruvbox"]
	path = pack/ug02fast/start/gruvbox
	url = https://github.com/morhetz/gruvbox
[submodule "pack/ug02fast/start/vim-airline"]
	path = pack/ug02fast/start/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "pack/ug02fast/start/vim-gitgutter"]
	path = pack/ug02fast/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "pack/ug02fast/start/vim-fugitive"]
	path = pack/ug02fast/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
